extends layout
block content
 h1= title
 - let gizmoid = toShow._id
 - let gizmo_name = toShow.gizmo_name
 - let gizmofunctionality = toShow.functionality
 - let gizmoprice = toShow.price
 div
 div.row
 div(class='gizmoAttr mr-3') Gizmo ID is:
 div #{gizmoid}
 div.row
 div(class='gizmoAttr mr-3') Gizmo Name is:
 div #{gizmo_name}
 div.row
 div(class='gizmoAttr mr-3') Gizmo Functionality is:
 div #{gizmofunctionality}
 div.row
 div(class='gizmoAttr mr-3') Gizmo Price is:
 div #{gizmoprice}